# CDOC2 Gatling tests configuration for auth server

# auth server configuration
auth-server {
  # the base url of the server
  base-url = "https://localhost:7500"
}

# Load test configuration
# See https://gatling.io/docs/gatling/reference/current/core/injection/
# for details.
#
# Keep the load level modest when when the auth server is configured to call the SK demo environment
#
# Half the user start a Smart-ID auth process and half a Mobile-ID auth process and check its status, each performing a
# call to the auth server under test, reusing a single fixed demo test identity.
load-test {
    request {
        start-users-per-second = 1
        increment-users-per-second = 1
        increment-cycles = 3
        cycle-duration-seconds = 10
        initial-delay-seconds = 0
        at-once-users = 0
    }
}

# Half the user start a Smart-ID auth process and half a Mobile-ID auth process and check its status, each performing a
# call to the auth server under test, reusing a single fixed demo test identity.
# Test runs with a number of concurrent users for a set duration
constant-load-test {
    request {
        concurrent-users = 20
        concurrent-users-duration-seconds = 10
    }
}
