# CDOC2 Gatling tests configuration for shares server

# shares server configuration
shares-server {
  # the base url of the server
  base-url = "https://localhost:8443"
}

# Keys conf
# session-token-signing-key : private key used by cdoc2-auth-server to sign the session token
# session-token-signing-key-kid : SHA-256 thumbprint of the corresponding public key
# used as the KID. See RFC 7638
# must mach values provided by the cdoc2-auth-server in the testing environment
# You can use the GET /.well-known/jwks.jws endpoint of cdo2-auth-server to get the correct KID

keys {
    session-token-signing-key = """
-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIGzQ2m+aRsNRJEUMbaVqCwiiwrBoyFD3uWNQp8klNUJHoAoGCCqGSM49
AwEHoUQDQgAEgQT1/Ud+qCJZL+9zm/HBb2v/L1+ermyIo5IohV4SvyxjQMvAfl8d
lLHBM3s12ntWsTKzfKp0xD/lx+YBgU54SQ==
-----END EC PRIVATE KEY-----
    """

    session-token-signing-key-kid = L3RrY5YVqn7fCEg6hf_-lsGUnhPc9dcKuTeTvJHO9W8

    rp-counter-signing-key = """
-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIAjwC1cDF0aXNC/u8wKRRFWi2Uhmv8/P6waDwDoNlF3OoAoGCCqGSM49
AwEHoUQDQgAEH0VsHWVwImGA4uolFRROI5MWsEnVFrOKkFlRsFHRGKSQ5Kgvu6i6
OqgiAIifzruWroT4t+WkzLoTx+wRgFxjEw==
-----END EC PRIVATE KEY-----
    """
}

# Load test configuration
# See https://gatling.io/docs/gatling/reference/current/core/injection/#incrementuserspersec
# for details.
load-test {
    request {
        # each user generates 3 different requests and actual rps is 3x
        start-users-per-second = 10
        increment-users-per-second = 10
        increment-cycles = 3
        cycle-duration-seconds = 10
        # wait for some shares and nonces to be created for get share input
        initial-delay-seconds = 5
    }
}
